@charset "UTF-8";
.stories {
  margin-top: 140px;
}
@media screen and (max-width: 375px) {
  .stories {
    margin-top: 96px;
  }
}
.stories__header {
  margin-bottom: 64px;
}
.stories__header__title {
  max-width: 713px;
}
@media screen and (max-width: 375px) {
  .stories__header__title {
    letter-spacing: 0;
  }
}
@media screen and (max-width: 375px) {
  .stories__header {
    margin-bottom: 32px;
  }
}
.stories__blog {
  margin: 0 -12px;
  display: flex;
  position: relative;
}
.stories .slick-list {
  overflow: hidden;
}
.stories .slick-track {
  display: flex;
}
.stories .slick-arrow {
  position: absolute;
  font-size: 0;
  z-index: 10;
  border: 1.5px solid #0A141F;
  background-color: white;
  border-radius: 100px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  bottom: -76px;
}
.stories .slick-arrow.slick-prev {
  left: 124px;
}
.stories .slick-arrow.slick-prev::after {
  content: "⟵";
  color: #0A141F;
  font-size: 20px;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .stories .slick-arrow.slick-prev {
    left: 110px;
  }
}
@media screen and (max-width: 336px) {
  .stories .slick-arrow.slick-prev {
    left: 100px;
  }
}
.stories .slick-arrow.slick-next {
  right: 124px;
}
.stories .slick-arrow.slick-next::after {
  content: "⟶";
  color: #0A141F;
  font-size: 20px;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .stories .slick-arrow.slick-next {
    right: 110px;
  }
}
@media screen and (max-width: 336px) {
  .stories .slick-arrow.slick-next {
    right: 100px;
  }
}
.stories .slick-arrow.slick-disabled {
  opacity: 0.3;
}

.story {
  width: 397px;
  margin: 0 12px;
}
.story__img {
  border-radius: 16px;
  margin-bottom: 28px;
  width: 100%;
  height: 226px;
}
@media screen and (max-width: 375px) {
  .story__img {
    margin-bottom: 20px;
  }
}
.story__title {
  line-height: 26.63px;
  margin-bottom: 16px;
}
@media screen and (max-width: 375px) {
  .story__title {
    font-size: 18px;
    line-height: 21.78px;
    margin-bottom: 11px;
  }
}
.story__descr {
  color: rgba(0, 0, 0, 0.8705882353);
  font-size: 16px;
  line-height: 22.4px;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  margin: 0;
}