.footer {
    background-color: #EBEDEF;
}
.company {
    margin-top: 56px;
    padding-bottom: 60px;
    border-bottom: 2px solid #C9D1D9;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 920px) {
        flex-direction: column;
        margin-top: 64px;
        padding-bottom: 64px;
    }
    &__sws {
        color: #09090A;
        @media screen and (max-width: 920px) {margin-bottom: 9px;}
        &__logo {
            margin-bottom: 28px;
            @media screen and (max-width: 920px) {margin-bottom: 32px;}
        }
        &__name {
            margin-bottom: 16px;
            font-size: 18px;
            font-weight: 600;
            line-height: 27px;
            color: #2C2B30;
        }
        &__location {
            padding: 0;
            margin: 0;
            .adress {
                list-style: none;
                background: url('../img/footer/markers/Map\ Point.svg') 0 1px no-repeat;
                padding-left: 32px;
            }
        }
        &__tel {
            padding: 0;
            margin: 0;
            .tel {
                list-style: none;
                background: url('../img/footer/markers/Phone\ Rounded.svg') 0 1px no-repeat;
                padding-left: 32px;
                a {color: #09090A;}
            }
        }
        &__email {
            padding: 0;
            .email {
                list-style: none;
                background: url('../img/footer/markers/Letter.svg') 0 1px no-repeat;
                padding-left: 32px;
                a {color: #09090A;}
            }
        }
    }
    &__verification {
        display: flex;
        justify-content: flex-end;
        align-self: start;
        margin: 0 -22.5px;
        @media screen and (max-width: 530px) {
            flex-direction: column;
            margin: -10px 0;
        }
    }
}
.li {
    font-size: 16px;
    line-height: 24px;
    margin: 12px 0;
}

.quality {
    padding: 16px;
    margin: 0 22.5px;
    gap: 10px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 20px 18.2px 0px #C3C8CF09;
    box-shadow: 0px 100px 112px 0px #C3C8CF12;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 226px;
    min-height: 131px;
    @media screen and (max-width: 530px) {margin: 10px 0;}
    &__text {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        display: inline-block;
        margin: 0;
        color: black;
        span {
            text-transform: uppercase;
        }
    }
    &__logo {
        margin: 0 auto;
    }
}

.copyright {
    margin: 24px 0 56px;
    color: #2C2B30;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 786px) {
        flex-direction: column-reverse;
        margin: 24px 0;
    }
    &__copyright {
        margin: 0;
    }
    &__nav {
        margin: 0 -20px;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        @media screen and (max-width: 786px) {
            justify-content: flex-start;
            margin: 0 -25.5px 24px;
        }
        .element {
            margin: 0 20px;
            color: #2C2B30;
            @media screen and (max-width: 786px) {
                margin: 0 25.5px;
            }
        }
    }
}