.partner {
    margin-top: 142px;
    position: relative;
    @media screen and (max-width: 375px) {margin-top: 172px;}
    &__title{
        text-align: center;
        line-height: 26.63px;
        @media screen and (max-width: 375px) {
            font-size: 18px;
            line-height: 21.78px;
        }
    }
    &__img {
        margin: 0 12px;
        width: 292px;
        height: 100px;
        padding: 10px;
        border-radius: 16px;
        box-shadow: 0px 20px 18.2px 0px #C3C8CF09;
        box-shadow: 0px 100px 112px 0px #C3C8CF12;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 624px) {
            margin: 0 4px;
            width: 180px;
            height: 80px;
            border-radius: 12px;
        }
        img {
            max-width: 100%;
            width: auto;
        }
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 24px -12px 0;
    }
}